@model IEnumerable<MessagingApp.Models.Chat>

@{
    ViewData["Title"] = "ChatHistory";
     var userName = User.Identity.Name;
    var receiver = @ViewBag.CurrentReceiver;
}
<h2>hello @ViewBag.CurrentReceiver @receiver</h2>
<h2 class = "text-center text-primary">
        <i class="fab fa-facebook-mesenger"></i>&nbsp; Me Chat
    </h2>

<table>
    <tr>
        <td>
            @*@Html.Partial("NavigatePartial",Model)*@
            @*<div >

                @if(Model != null){
                     <partial name="../Chat/ChatHistoryPartial" data="@Model"/>
                   
                 
                   }
                else{
               <p>lalalalalalalalalaa</p>
                    }
            </div>
           *@

           <div class="chat" >
            @*@if (Model!= null)
            {*@
                @foreach(var message in Model.OrderBy(m=>m.CurrentTime))
                {
                    
                    string containerClass, timePosition, textAlign, fontColor, offset;
                    if(userName == message.SenderId)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-dark";
                        textAlign = "text-right text-black";
                        fontColor = "bg-primary";
                        offset = "col-md-8 offset-md-8";

                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        fontColor = "bg-light";
                        offset = "";
                    }
                    <div class="row">
                        <div class="@offset">
                            <div class="@containerClass" @fontColor>
                                <p class="sender @textAlign">@message.SenderId </p>
                                <p class = "@textAlign" >@message.Message</p>
                                <p class="@timePosition">@message.CurrentTime.ToString("t")</p>
                            </div>
                        </div>
                    </div>
                }
                 <div class="row">
            
            <form>
               @* <div class="form-group">*@
                <input type="text" id="message"/>
                <input type="button" onclick="sendMessage()" value ="Send" @*id="submitButton"*@ class="btn btn-danger"/>

            @*</div>*@

            </form>
            
            <input type="hidden" value="@userName" name="username"/>
           

                    </div>
                @*}
                else
                {
                    <p>asdasfasfasfas</p>
                }*@
        </div>
       
    
           
            
        </td>
        <td>
            
              <div class="side-menu">

                @*<partial name="NavigatePartial" data="@Model"/>*@
                @await Component.InvokeAsync("ReceiversName");
            </div>
          

        </td>
    </tr>
</table>
