@model IEnumerable<MessagingApp.Models.Chat>

@{
    ViewData["Title"] = "Message";
    var userName = User.Identity.Name;
}



<script>
    const userName = "@ViewBag.CurrentUserName";
    function sendMessage()
    {
        var msg = $("#message").val();
        debugger;
        $.ajax({    
                 type: "POST",
                 url:  "/Chat/Message",
                 data: {"Message" : msg} ,
                 
       
            });

        
    }
</script>
<div class = "jumbotron jumbotron-fluid">
    <h2 class = "text-center text-primary">
        <i class="fab fa-facebook-mesenger"></i>&nbsp; Me Chat
    </h2>
    <div class ="row">
        <div class="col-md-0" id="chat">
            @if (Model != null)
            {
                @foreach(var message in Model.OrderBy(m=>m.CurrentTime))
                {
                    string containerClass, timePosition, textAlign, fontColor, offset;
                    if(userName == message.SenderId)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-dark";
                        textAlign = "text-right text-black";
                        fontColor = "bg-primary";
                        offset = "col-md-6 offset-md-6";

                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        fontColor = "bg-light";
                        offset = "";
                    }
                    <div class="row">
                        <div class="@offset">
                            <div class="@containerClass" @fontColor>
                                <p class="sender @textAlign">@message.SenderId </p>
                                <p class = "@textAlign" >@message.Message</p>
                                <p class="@timePosition">@message.CurrentTime.ToString("t")</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12">
            
            <form>
               @* <div class="form-group">*@
                <input type="text" id="message"/>
                <input type="button" onclick="sendMessage()" value ="Send" @*id="submitButton"*@ class="btn btn-danger"/>

            @*</div>*@

            </form>
            
            <input type="hidden" value="@userName" name="username"/>
           

        </div>
    </div>
</div>

















@*

<h1>Message</h1>

<h4>Chat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Message">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type ="text" name = "receiverEmail" class="text-danger"/>
            </div>
            <div class="form-group">
                <input type="submit" value="send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@


<div>
    <a asp-action="Index">Back to List</a>
</div>

